#root{
    box-sizing: border-box;
    margin: 0;
    padding: -1;

}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

.App{
    position: relative;
    width: 50vw;
    height: 100vh;
}
.container{
    position: relative;
    left: 450px;
    
}

.mt-4{
    position: relative;
    top:50px;
}


